/************
COLORS USED:
#000;
#222;
#444;
#666;
#999;
#CCC; 
#DDD;
#EEE;
darkblue
royalblue
********/

/********** import font pair for body and heading  *************************************************/

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:wght@700|Open+Sans');

/***************************************************************************************************/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/************
DEFAULT STYLE
*************/

* {
    box-sizing: border-box;     
}


body {
    font-family: 'Open Sans', sans-serif;    
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;        
}

h1{
    line-height: 1.5;
    font-family: 'Gentium Book Basic', serif;
    letter-spacing: 3px;
    transform: translateY(0.5rem);
}

h4{
    font-family: 'Gentium Book Basic', serif;
    font-size:1.5rem;    
}

/*box class used in all the divs*/

.bg-header .box,
.bg-footer .box {
    padding: 2rem 2rem;
}

.bg-main-content .box {
    padding: 0.5rem;
    color: #666;
}

/* style for the header of the html page*/
header {
    font-size: 1rem;   
}


.bg-header {
    background-image: url(../img/bg-masthead.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: darkblue;
    background-blend-mode: multiply;
}


#tag-line {
    -webkit-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    -o-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    -moz-mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    mask-image: url(https://dl.dropbox.com/s/u92nd5fpuatesd0/mask.png?dl=0);
    color:white;
    text-align: center;
}


/* style for nav bar */
.bg-nav ul{    
    list-style: none;
    padding:0.5% 5%;
}

.bg-nav ul a:link{    
    text-decoration: none;    
}

/* style for the form placed in the main content of the html page*/
.bg-main-content form{    
    padding:1rem;
}

.bg-main-content fieldset,legend{    
    border:1px solid #ccc;
}

.bg-main-content fieldset{    
    background-color: #f4f4f4;
}


.bg-main-content legend{  
    padding:1rem;
    font-size:1.5rem;
    background-color:#ffffff;    
}

.form-grp{    
    display:flex;
    flex-direction: column;
}

.form-grp-2{   
    display:flex;
    flex-direction: column;
}


.bg-main-content .box input, textarea {
    padding:0.5rem;    
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    border: thin solid #ccc;
    width:100%;
}


.bg-main-content .lbl{    
    padding-top:1.2rem;
    font-size:1rem;
    padding-bottom: 0;
    flex:none;
    display: block;
}


.bg-main-content .box input[type="button"] {    
    background-color: goldenrod;
    border:0;
    padding: 0.5rem 1rem;
    width:100%;
}

/* style for the message displayed in case of error or successful submission of form data */
.msg{    
    text-align: center;
    padding:1rem 2rem;
    
    
}


/* style for the footer of the html page */
.bg-footer{    
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
    background-color: grey;
    text-align: center;   
    padding:1.5rem 1rem;
    
}

.bg-footer ul{    
    list-style: none;    
}

.bg-footer ul li{    
    display: inline;
    padding:0 10px;    
}


/* media query */


@media screen and (min-width: 50rem) {
    
    
    #tag-line {        
        font-size: 4rem;
    }

    body {        
        font-size: 1rem;
        max-width:1600px;
    }
    
    .bg-nav ul{
        padding:0.5% 15%;
    }
    
    .bg-nav ul li{    
        display: inline;
        padding:0 10px;    
    }    
    
    .bg-main-content fieldset{       
        font-size:1.7rem;    
    }    
    
    .bg-main-content form{    
        font-size: 1.2rem;   
        padding:3% 15%;
    }    
        
    .form-grp{       
        flex-direction: row;
        flex:1;        
    }
    
    .form-grp-2{        
        flex-direction: column;
        flex:1;        
    }
    
    .bg-main-content .box textarea{
        padding:0.2rem;
        font-size: 1rem;   
        width:100%
    }
    
    .bg-main-content .box input{
        padding:0.2rem;
        font-size: 1rem;        
    }    
    
    .bg-main-content .box input[type="button"] {
        padding: 0.2rem 1rem;
        width:20%;
    }
    
    .bg-main-content .lbl{        
        font-size:1.2rem;        
    }
    
    .msg{    
        padding:0.5rem 2rem;    
    }    
    
}



